body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    margin: 0;
    color: #ffffff;
}

header {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.card {
    background: rgb(31, 29, 29);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
    color: #7405d5;
}

.card ul {
    padding-left: 20px;
}

.dica {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
