body {
    font-family: Arial, sans-serif;

    background-image: url("img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

form {
    background: rgba(224, 221, 221, 0.95);
    padding: 50px;
    border-radius: 20px;
    width: 500px;
}

h1 {
    text-align: center;
    color: black;
}

h4 {
    text-align: center;
    color: black;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(12, 88, 110);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.Google {
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid #a4c3d4;
}

button.Facebook {
    padding: 10px;
    background-color:#4105a1;
    border: 1px solid #6200ff;
}

button.login {

    background-color: rgb(37, 88, 255);
}

.forgot-password {
    text-align: right;
}

.forgot-password a {
    color: rgb(5, 92, 255);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}